* {
    background-color:rgb(35, 72, 106);
}

.title {
    text-align: center;
    font-family:system-ui;
    color: rgb(239, 176, 54); 
}

.sub {
    text-align: center;
    font-family:system-ui;
    color: rgb(239, 176, 54); 
}


.projects {
    position: relative;
    text-align: center;
    font-family: system-ui;
    top: 20px;
    color: rgb(239, 176, 54); 
}


.projButtons {
    /* start position */
    position: relative;
    display: block;
    margin: 20px auto;
    top: 60px;

    /* styling */
    font-family: system-ui;
    border-radius: 10px;
    padding: 6px;
    color: rgb(239, 176, 54); 
    background-color: transparent;
    border-color: rgb(44, 79, 111);

    cursor: pointer;
    overflow: hidden;


}


.projButtons:hover{
    background-color: rgb(76, 123, 139);
    box-shadow: 0 5px 16px 0 rgb(59, 103, 144);
    transition-duration: 0.5s;
}