* {
    background-color:rgb(35, 72, 106);
}

.title {
    text-align: center;
    font-family:system-ui;
    color: rgb(239, 176, 54); 
}

.sub {
    text-align: center;
    font-family:system-ui;
    color: rgb(239, 176, 54); 
}


.projects {
    position: relative;
    text-align: center;
    font-family: system-ui;
    top: 20px;
    color: rgb(239, 176, 54); 
}




/* Float four columns side by side */
.projectCards {
  float: left;
  width: 25%;
  padding: 0 10px;
}



/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}