.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}



body {
  background-image: url(../assets/images/background.gif);
}

.intro {
  color: white;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.moon {
  height: 200px;
  width: auto;
  float: right;
}

.moon:hover {
  cursor: pointer;
}

.disc {
  height: 200px;
  width: auto;
  float: left;
}

.disc:hover {
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

.tabs {
  text-align: left;
  font-size: 25px;
  background-color: white;
  border: 2px solid blue;
  border-bottom: 10px solid white;
  padding-left: 4px;
  padding-right: 4px;
  color: black;
  text-decoration: none;

}


.title {
  color: white;
  font-family: "VT323", monospace;
  font-size: 40px;
}


p {
  color: black;
}

.container {
  position: relative;
}

.nyan {
  position: absolute;
  z-index: 0;
}

.cat {
  position: absolute;
  height: 100px;
  width: 90vw;
  top: 50%;
  transform: translateY(400%);
  left: 0;
}

.just-cat {
  position: absolute;
  height: 100px;
  top: 50%;
  transform: translateY(400%);
  left: 85vw;

}

.main {
  position: relative;
  width: min(600px, 92vw);
  margin: 0 auto;
  border: 2px solid blue;
  padding: 5px;
  background-color: white;
  z-index: 1;
  padding-bottom: 30px;

}

.main-blog-text {
  position: relative;
  width: 70vh;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid blue;
  padding: 5px;
  height: 100%;
  background-color: white;
  z-index: 1;
  padding-bottom: 30px;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-section {
  max-width: fit-content;

}


.profile-container {
  border: 4px solid #000;
  padding: 5px;
  padding-bottom: 40px;
  padding-top: 40px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 5px 5px 0 #000, 10px 10px 0 blue;
  text-wrap: wrap;
  max-height: fit-content;
  margin-top: 12px;
  max-width: 250px;
}
.read-container {
  max-width: fit-content;
  border: 4px solid #000;
  padding: 2px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 5px 5px 0 #000, 10px 10px 0 blue;
  height: 275px;
  margin-top: 50px;
  
}

.covers {
  height: 200px;
  width: 120px;
}
.pfp {
  display: block;
  margin: auto;
  height: 175px;
  border-radius: 100px;
}

.about-container {
  width: 100%;

}

.about-header {
  color: blue;
  font-weight: bold;
  
}

.about-text {
  font-size: 18px;
}


.socials-section {
  max-height: 200px;
}
.socials {
  display: flex;
  gap: 12px;
  height: 2px;
}
.social-title {
  margin-top: 24px;
  width: fit-content;
}

.icons {
  height: 42px;
  width: 42px;
  border-radius: 5px;
}



.project-section {
  margin-top: 32px;
}
.project-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.project-head {
  font-weight: bold;
  color: blue;

}

.project-card {
  width: 100%;
  border: 4px solid #000;
  padding: 2px;
  box-shadow: 5px 5px 0 #000, 10px 10px 0 blue;
  text-wrap: wrap;
  transition: all ease 2s;
}

.title-link {
  text-decoration: none;
  color: orange;
  font-weight: bold;font-size: 18px;
  transition: all ease 2s;

}

.project-card:hover {
  box-shadow: 5px 5px 0 #000, 10px 10px 0 orange;
}
.title-link:hover {
  color: blue;
  text-decoration: underline;
}

.blog-cards-container {
  margin-left: 2vh;

}
.blog-cards {
  width: 100%;
  border: 4px solid #000;
  padding: 2px;
  box-shadow: 5px 5px 0 #000, 10px 10px 0 blue;
  text-wrap: wrap;
  transition: all ease 2s;
}
.top-half {
  display: flex;
  flex-direction: row;
  gap: 10%;
}
.profile-container-blog {
  width: 20vh;
  border: 4px solid #000;
  padding: 20px;
  box-shadow: 5px 5px 0 #000, 10px 10px 0 blue;
  text-wrap: wrap;
  transition: all ease 2s;
}

.blog-cards-two {
  width: 30vh;
  border: 4px solid #000;
  padding: 2px;
  box-shadow: 5px 5px 0 #000, 10px 10px 0 blue;
  text-wrap: wrap;
  transition: all ease 2s;
}

.blog-cards:hover {
  box-shadow: 5px 5px 0 #000, 10px 10px 0 orange;
}

.header-con {
  margin-left: 2vh;
}

.blog-text {
  font-size: 20px;
}
.content {
  margin-left: 2vh;
  margin-right: 2vh;
}

.header-con-blog {
  margin-left: 2vh;
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.column-header-wrapper {
  display: flex;
  flex-direction: column;
  

}


/* Song pages */



.songEntries {
  margin-left: 2vh;
  margin-right: 2vh;
  border: 4px solid #000;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 5px 5px 0 #000, 10px 10px 0 blue;
  text-wrap: wrap;
  
}

.songEntriesAlbum2 {
  margin-left: 2vh;
  margin-right: 2vh;
  border: 4px solid #000;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 5px 5px 0 #000, 10px 10px 0 blue;
  text-wrap: wrap;

}
.songsO {
  display: flex;
  gap: 4px;
  flex-direction: row;

  background-color: rgb(129, 129, 255);

}

.songsT {
  display: flex;
  flex-direction: row;

  background-color: rgb(151, 151, 255);
}

/* customize look of song player */
audio {
  display: none; /* Hides the default audio controls */
}

.seekbar {
  width: 50%;
  height: 2%;
  cursor: pointer;
  -webkit-appearance: none; 
  weight: 8px; /* Thickness */
  background: #ddd; /* Track color */
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 10px;

}

/* The draggable thumb */
.seekbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 5px;
  background: #ababab; /* Thumb color */
  border-radius: 1px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.seekbar::-webkit-slider-thumb:hover {
  width: 15px;
  height: 15px;
  background: #ff3b3b; /* Change color on hover */
}


.controls {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

button {
  color: black;
  background-color: transparent;
  border: none;
  align-self: flex-start;
  margin-top: 2px;

}

button:hover {
  background-color: black;
  color: white;
}

.currentTime, .duration {
  font-size: 14px;
  margin-top: 4px;
}




@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning {
animation: spin 5s linear infinite;
}




.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 950px) {
  .main {
    width: min(600px, 60vw);
    grid-template-columns: 1fr 1fr;
  }
  
}

@media screen and (max-width: 590px) {
  .main {
    width: min(800px, 80vw);
  }

  .main-wrapper {
    grid-template-columns: 1fr;
  }
}